
header{
    display: flex;
    justify-content: center;
    align-content: center;
    color: rgb(255, 137, 58);
}

header p{
    margin-top: 15px;
}

header h1{
    margin-left: 40px;
}


#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 200px;
    width: 300px;
    border-radius: 20px 20px 20px 20px;
    color: white;
    background-color: rgb(255, 137, 58);
    gap: 10px;
}

.zoneprop{
    color: rgb(255, 137, 58);
    height: 20px;
    width: 210px;
    background-color: white;
    border-radius: 20px;

}

.zoneprop h3{
    margin: auto;
    margin-left: 38%;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
.popup div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.popup {
    display: flex;
    flex-direction: column;
    margin: auto;
    color: white;
    height: 160px;
    width: 150px;
    border-radius: 20px;
    background-color: rgb(255, 137, 58);
}

.partager{
    font-size: 17px;
} */