

body {
    display :flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 56);
}

header h2{
    font-size: 50px;
    color: white;
}

#Title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin-bottom: 30px ;
    color: white;
}


#Tab{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#Propos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#Tab input{
    height: 30px;
    width: 200px;
    border-radius: 12px 12px 12px 12px;
    margin-top: 30px;
    background-color: white ;
    font-size: 15px;
}

#Click {
    height: 30px;
    width:60px;
    border-radius: 15px 15px 15px 15px;
    background-color: blueviolet;
    color: white;
    margin-left: 15px;
    margin-top: 30px;
}

#Tab,
#Propos {
    display: flex;
    align-items: center;
    height: 60px;
    width: 360px;
    margin-left: 34px ;
    background-color: white;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 240px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(7, 68, 7);
    margin-top: 20px;
    margin-left: 92px;
}

footer p{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
    color:white;
}

@media screen and (max-width:450px){
    body{
        flex-direction: column;
    }

    header h2{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
        color: rgb(252, 189, 189);
    }

        #Tab,
        #Propos{
            height: 40px;
            width: 280px;
        }
        #Tab input{
            height: 20px;
            width: 170px;
            font-size: 8px;
        }

        footer{
            margin:auto ;
            margin-top: 20px;
            margin-left: 50px;
        }
       

}